body {
    font-family: sans-serif;
    margin: 0;
}

a {
    margin: ;
    padding: 3px;
    border-radius: 10px;
    background-color: orange;
    color: black;
    text-decoration: none;
}

header {
    background-color: #0C5AA6;
}

ul {
    list-style: url("https://learn.algoritmika.org/uploads/2021/01/Arrow%201_0_1611261359.svg");
    margin-left: 30px;
}

footer {
    background-color: #25567B;
}

footer p {
    color: white;
    padding: 10px;
}

header img {
    margin-top: 5px;
}

main h1 {
    text-align: center;
}

main h2 {
    color: red;
    margin-left: 25px;
}

.picture {
    height: 160px;
    margin-left: 15px;
}

.family {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
}
